@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-100 antialiased transition-colors duration-300;
  }
}